@import './breakpoints';

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

.container {
  margin: 0 auto;
  max-width: map-get($breakpoints, "xl");
}

li {
  font-weight: bold;
}
