* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1200px;
}

.header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}
.header h2 {
  font-weight: bold;
}
.header ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

.todo-list li {
  font-weight: bold;
}
