.header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;

  h2 {
    font-weight: bold;
  }

  ul {
    display: flex;
    gap: 1em;
    list-style: none;
  }
}
